.article {
    position: relative;
    text-decoration: none;
    .tags{
        position: absolute;
        top: 0;
        right: 0;
    }
    .card{
        border-radius: 1.75rem;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border: none;
    }
}