.footer {
    background-color: map.get($theme-colors, "primary");
    color: white;
    i{
        color: white;
    }
    a.nav-link {
        color: white;
        &:hover{
            text-decoration: underline;
        }
    }
    &__newsletter {
        padding: 30px;
        border-radius: 1.75rem;
        color: white;
        background-color: rgba(lighten(map.get($theme-colors, "primary"), 20%), 0.5);
    }
}