@use "sass:map";

$theme-colors: (
  'primary': #2c236b,
  'secondary': #bb984f,
  'success': #22e11c,
  'info': #d9ff50,
  'warning': #ffbe0b,
  'danger': #ff0000,
  'light': #ffffff,
  'dark': #000103,
);

@import "bootstrap/scss/bootstrap.scss";

// Partials
@import "navigation";

@import "programmes";

// Sections
@import "sections/logo-list";

.page__header {
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
    color: #fff;
}

.section{
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
    > h1, p:first{
        text-align: center;
    }
}

.btn {
    border-radius: 1.75rem;
    text-transform: uppercase;
}

.form-control {
    border-radius: 1.75rem;
}